       body {
            font-family: Garamond, serif;
            background-color: #f5f5f5;
            margin: 0px;
            padding: 0px;
            color: #62778f;
        }

        .menu-bar {
            background-color: #fff;
            display: flex;
            padding: 15px 10%; 
            box-shadow: 0 6px 12px 0 rgb(6 43 86 / 4%);
        }

        .menu-items {
            display: flex;
            align-items: center; /* Vertically align menu items */
        }

        .menu-items a {
            text-decoration: none;
            transition: all .3s ease;
            padding: 10px 10px;
            font-size: 18px;
            font-weight: bold; /* Make menu items bold */
            margin-right: 10px; /* Add spacing between menu items */
            color: #0f437f;
        }

        .menu-items a:hover {
            color: #f99d77;
        }

        .container {
            margin: 20px auto; /* Center the content and adjust page width */
            padding: 0px 10%; 
            background-color: #f5f5f5;
        }

        h2 {
            font-size: 48px;
            font-family: Garamond, serif;
            font-style: normal;
            font-weight: 600;
            text-decoration: none;
            color: #0f437f;
            margin: 0; /* Remove default margin */
        }

        p {
            font-size: 20px;
            margin: 0; /* Remove default margin */
            vertical-align: top; /* Align p to the top of h2 */
        }

        a {
            text-decoration: none;
            font-size: 22px;
            transition: all .3s ease;
            color: #0f437f;
        }

        a:hover {
            color: #f99d77;
        }

        ul {
            font-size: 18px;
        }

        li {
            font-size: 18px;
            padding: 5px;
        }

        footer {
            background-color: #f5f5f5;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }



        /* Style for text to the right of H2 header */
        .text-right {
            float: right;
            /* Add any other styles as needed */
        }

        /* Centered header */
        .centered-header {
            text-align: center;
        }
